/* 圣诞男孩 */
.chs-boy {
	width: 5rem;
	height: 1.5rem;
	position: absolute;
	z-index: 3;
	top: .1rem;
	right: -3rem;
	transform: scale(0.1);
	background: url(../images/boy.png);
	background-size: 400% 100%;
}

/* 男孩走路动作 */
.chs-boy-deer {
	-webkit-animation: chaBoyDeer 0.75s steps(3, end) infinite;
	-moz-animation: chaBoyDeer 0.75s steps(3, end) infinite;
}
@-webkit-keyframes chaBoyDeer {
	0% {
		background-position: -0% 100%;
	}
	100% {
		background-position: -300% 100%;
	}
}
@-moz-keyframes chaBoyDeer {
	0% {
		background-position: -0% 100%;
	}
	100% {
		background-position: -300% 100%;
	}
}

.boy-stop-animate {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
}